* {
  box-sizing: border-box;
}

body {
	background-color: #EEEEEE;
}

#main__nav ul {
	margin: 10px;
	padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

#main__nav li {
	background-color: #F00;
	height: 50px;
	padding: 20px 50px 20px 50px;
	margin: 20px;
	text-align: center;
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#main__start {
	background-color: #FF0;
	height: 500px;
	width: 100vw;
}

#main__list {
	background-color: #0FF;
	height: 500px;
	width: 100vw;
}

#main__test {
	background-color: #033;
	height: 500px;
	width: 100vw;
}

#main__random {
	background-color: #33F;
	height: 500px;
	width: 100vw;
}